:root {
  --green: #007f0e;
}

@font-face {
  font-family: elsie;
  src: url('./fonts/Elsie-Regular.otf');
}

@font-face {
  font-family: charm;
  src: url('./fonts/Charm/Charm-Regular.ttf');
}

@keyframes kiss {
  0% {opacity: 1; transform: scale(7);}
  10% {opacity: 1; transform: scale(6);}
  20% {opacity: 1; transform: scale(5);}
  30% {opacity: 1; transform: scale(4);}
  40% {opacity: 1; transform: scale(3);}
  50% {opacity: 1; transform: scale(2);}
  60% {opacity: 1; transform: scale(1);}
  70% {opacity: 0.8; transform: scale(1);}
  80% {opacity: 0.6; transform: scale(1);}
  90% {opacity: 0.4; transform: scale(1);}
  100% {opacity: 0.2; transform: scale(1)}
}

html, body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif
}

p {
  margin: 10px
}

body {
  background: url('./img/nessie.webp');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: sepia(0.3);
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.header {
  display: grid;
  background: url('./img/nessie.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  max-width: 666px;
  height: 180px;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
  z-index: 1;
  transition: transform 3s;
  transform: translateY(-40px) translateX(-30px);
  position: relative;
  filter: drop-shadow(2px 6px 6px black);
}

  #kiss {
    width: 50px;
    opacity: 0;
    height: auto;
    left: 10px;
    top: 40px;
    position: relative;
  }

  #kiss.action {
    animation: kiss;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }

  .header:hover {
    transform: translateY(-60px) translateX(-30px);
  }

  .nessieButton {
    position: absolute;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
    width: max-content;
    height: 60px;
    font-family: elsie;
  }

    .nessieButton:hover {
      cursor: pointer;
      font-weight: 900;
    }

    .headerLink {
      display: block;
      width: 0;
    }

    #preorder {
      left: 240px;
      top: 90px;
    }

    #more {
      left: 370px;
      top: 100px;
    }

    #gallery {
      left: 540px;
      top: 110px;
    }


.main {
  display: grid;
  background-image: url('./img/flipped.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  justify-self: center;
  grid-row: 2;
  grid-column: 2;
  min-width: 800px;
  max-width: 800px;
  height: 0;
  padding-bottom: 109.5%;
  margin-top: 80px;
}

  .scroll {
    position: relative;
    left: 165px;
    top: 95px;
    overflow: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    width: 450px;
    height: 650px;
  }

    .scroll::-webkit-scrollbar {
      display: none;
    }

  .phonographCont {
    display: grid;
    grid-column: 3;
    grid-row: 2;
    grid-template-rows: 180px 1fr;
  }

    #phonograph {
      max-width: 250px;
      min-width: 100px;
      height: auto;
      transform: rotateY(180deg);
      transition: transform 0.3s ease;
      grid-row: 2;
    }

    #phonograph:hover {
      transform: rotateY(180deg) scale(1.1);
    }

    #notes {
      width: 240px;
      height: 85px;
      align-self: end;
      grid-row: 1;
    }

      .silent {
        opacity: 0;
      }

      .playing {
        opacity: 1;
      }

  .cover {
    background: url('./img/book.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    grid-row: 2;
    border: 2pt solid var(--green);
    filter: sepia(0.8);
    transition: filter 2s ease;
    margin: 0 auto;
  }

    .cover:hover {
      filter: sepia(0);
      cursor: pointer;
    }

    .review {
      width: 450px;
      justify-self: center;
      height: max-content;
      grid-row: 3;
      text-align: justify;
      font-family: charm;
      font-size: 1.2rem
    }

    .reviewSource {
      font-size: 1rem;
      font-family: charm;
    }

    #review2 {
      grid-row: 4;
    }
    